<ion-header>

  <ion-navbar color="roxo">
    <ion-title>Cadastrar Novo Pet</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
     <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="onActionSheet()">
      <div class="profile-image-placeholder" *ngIf="!pet.image">
        <ion-icon name="add"></ion-icon>
        <div>
          Adicionar foto
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="pet.image"></div>
    </div> 
    
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="pet.nome" name="nome"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Data de nascimento</ion-label>
        <ion-input type="date" [(ngModel)]="pet.data_nascimento" name="data"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Peso do pet</ion-label>
        <ion-input type="number" [(ngModel)]="pet.peso" name="peso"></ion-input>
      </ion-item>

      <ion-list radio-group [(ngModel)]="pet.sexo" name="sexo">
        <ion-list-header>
          Sexo
        </ion-list-header>
        <ion-item>
          <ion-label>Macho</ion-label>
          <ion-radio value="M"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Fêmea</ion-label>
          <ion-radio value="F"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label floating>Espécie</ion-label>
        <ion-select name="especie">
          <ion-option *ngFor="let especie of especies" [value]="especie.id" [selected]="especie.id == especieId">{{especie.nome}}</ion-option>
        </ion-select>
      </ion-item>
       <ion-item>
        <ion-label floating>Raça</ion-label>
        <ion-select [(ngModel)]="pet.raca_id" name="raca">
          <ion-option *ngFor="let raca of racas" [value]="raca.id">{{raca.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <br />
      
      <button ion-button block="true" color="roxo" (click)="salvarPet()">Salvar</button>
      <button ion-button block="true" color="light" (click)="cancelar()" >Cancelar </button>

    </ion-list>
  </form>
</ion-content>
