<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar Novo Pet</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          Cancelar
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          Salvar
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          Adicionar foto
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="date" placeholder="Data de nascimento" formControlName="dt_nascimento"></ion-input>
      </ion-item>
      <ion-list radio-group formControlName="sexo">
        <ion-list-header>
          Sexo
        </ion-list-header>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio value="masculino"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Feminino</ion-label>
          <ion-radio value="feminino"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Espécie" formControlName="especie"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Raça" formControlName="raca"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
