page-login {
    .content{
    background-color: #353559;
    color: #F8D9A8;
  }

  .splash-all{
    margin: 15px;
    padding-top: 25px;
    text-align: center;
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    // background: url('../assets/img/ica-slidebox-img-1.png') no-repeat transparent;
    // -webkit-background-image: url('../assets/img/ica-slidebox-img-1.png') no-repeat transparent;
    background-size: 100%;
    width: 40%;
    height: 40%;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }

  button.login {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    background-color: #F8D9A8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #353559;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  button.signup {
    background-color: #353559;
    border: #F8D9A8 3px solid;
    color: #F8D9A8;
    font-weight: bold;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }



  .item-md, .item-ios{
    color: #f8d9a8;
    background-color: #353559;
  }

  .item-ios.item-block:first-child{
    border-top: none;
  }

  .list-ios .item-block .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #f8d9a8;
    box-shadow: inset 0 -1px 0 0 #f8d9a8;
    margin-right: 16px;
  }


ion-label[fixed] {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: none;
    max-width: none;
}


/* Shared */
button.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  // margin: 0.2em;
  padding: 0 15px 0 46px;
  margin-bottom: 1.3em;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
button.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
button.loginBtn:focus {
  outline: none;
}
button.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
button.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: -webkit-linear-gradient(#4C69BA, #3B55A0);
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
button.loginBtn--facebook:before {
  vertical-align: middle;
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
button.loginBtn--facebook:hover,
button.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: -webkit-linear-gradient(#5B7BD5, #4864B1);
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
button.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
button.loginBtn--google:before {
  vertical-align: middle;
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
button.loginBtn--google:hover,
button.loginBtn--google:focus {
  background: #E74B37;
}
}
