<ion-header>

  <ion-navbar color="roxo">
    <ion-title>Agendar novo serviço</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

      <ion-item>
        <ion-label floating>Data do serviço</ion-label>
        <ion-input type="date" [(ngModel)]="servico.data" name="data" (change)='carregarData($event.target.value)'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Estabelecimento</ion-label>
        <ion-select [(ngModel)]="servico.estabelecimento_id" (ionChange)="carregar($event)" interface="popover">
          <ion-option *ngFor="let est of listaEstabelecimentos" [value]="est.id" [selected]="est.id == estabelecimento_id">{{est.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Serviço</ion-label>
        <ion-select [(ngModel)]="servico.servico_id" interface="popover">
          <ion-option *ngFor="let ser of listaServicos" [value]="ser.id" [selected]="ser.id == estabelecimento_id">{{ser.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Pet</ion-label>
        <ion-select [(ngModel)]="servico.pet_id" interface="popover">
            <ion-option *ngFor="let pet of pets" [value]="pet.id" [selected]="pet.id == pet_id">{{pet.nome}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating> Turno</ion-label>
        <ion-select [(ngModel)]="servico.turno" interface="popover">
            <ion-option value="manhã">manhã</ion-option>
            <ion-option value="Tarde">Tarde</ion-option>
            <ion-option value="Noite">Noite</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Horário</ion-label>
        <ion-select [(ngModel)]="servico.horario" interface="popover">
          <ion-option *ngFor="let hora of listaHorarios" [value]="hora" [selected]="hora == estabelecimento_id">{{hora}}</ion-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item>
        <ion-label>Observação</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item> -->

      <br />

      <button ion-button block="true" color="roxo" (click)="agendar()" >Agendar </button>
      <button ion-button block="true" color="light" (click)="cancel()" >Cancelar </button>
    
    </ion-list>
  

</ion-content>
