page-pet-lista {

  //   button.addpet {
  //   margin-top: 25px;
  //   background-color: #353559;
  //   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  //   color: #F8D9A8;

  //   &.activated {
  //     background-color: rgb(220, 220, 220);
  //   }
  // }

}
