<ion-header>

  <ion-navbar color="roxo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Pet's</ion-title>

    <!--<ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <div style="text-align: center; color: #505358" *ngIf="pets.length == 0"><h2>Não existem pets cadastrados</h2></div>
    <ion-item-sliding *ngFor="let pet of pets">
      <button ion-item (click)="openPet(pet)">
        <ion-avatar item-start>
          <img style="object-fit: cover;" [src]="pet.image" />
        </ion-avatar>
        <h2>{{pet.nome}}</h2>
        <p>{{pet.data_nascimento}}</p>
        <!--<p>{{pet.sexo}}</p>
        <p>{{pet.especie}}</p>
        <p>{{pet.raca}}</p>-->
      </button>

      <ion-item-options>
        <button ion-button color="sucess" (click)="editarPet(pet)">
          Editar
        </button>
        <button ion-button color="danger" (click)="deletarPet(pet)">
          Apagar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab class="addpet" (click)="addItem()" color="roxo"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
